@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  font-family: verdana;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

.collections_brick {
  background-color: #006600;
  margin: 0;
  padding: 0;
  height: 8rem;
}

.collections_brick ul {
  list-style-type: none;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 8rem;
  gap: 1rem;
}

.collections_brick li {
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collections_brick a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 7rem;
  min-width: 7rem;
  border-radius: 50%;
  background-color: #029602;
  text-decoration: none;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.collections_brick a:hover {
  background-color: rgba(128, 255, 0, 0.644);
}

.welcome_image{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  object-fit: cover;
  overflow: hidden;
  
}

.product_container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1.5rem;
}

.single_product{
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 5px;
  padding: 1.5rem;
  margin: 1.5rem;
}

.product_image{
  width: auto;
  height: 400px;
  transition: .2s;
  margin: 0 auto;
}

.product_image:hover{
  transform: scale(1.10);
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

li{
  padding-top: 1rem;
}

.cart-container {
  display: flex;
  justify-content: space-around;
  background-color: whitesmoke;
}

.cart-product-container {
  width: 700px;
  height: 510px;
  overflow-y: scroll;
  direction:ltr;
}

.cart-product-container::-webkit-scrollbar {
  width: 10px;
}

.cart-product-container::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background:  #006600;
}

.cart-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 10px;
  border-radius: 1%;
  box-shadow: 10px 10px 10px grey;
  background-color: white;
}

.cart-product-image {
  width: 150px;
  height: 150px;
}

.cart-product-info {
  width: 200px;
  height: 150px;
}

.checkout-container {
  border: solid 1px black;
  border-radius: 10px;
  background-color: white;
  height: 150px;
  width: 500px;
  text-align: center;
}

.checkout-button {
  border-radius: 10px;
  color: white;
  background-color: #006600;
  padding: 0.5rem;
}

.checkout-button:hover {
  background-color: rgba(128, 255, 0, 0.644);
}